@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@theme {
	--color-cafe-blue-1-dark: oklch(0.55 0.15 223);
	--color-cafe-blue-2-dark: oklch(0.66 0.18 223);
	--color-cafe-blue-3-dark: oklch(0.18 0.02 223);
	--color-cafe-blue-1: oklch(0.72 0.18 223);
	--color-cafe-blue-2: oklch(0.61 0.14 223);
	--color-cafe-blue-3: oklch(0.95 0.02 223);
	--shadow-inner-lg: inset 1px 1px 4px 1px var(--input-shadow);
}

@theme inline {
	--font-heading: var(--font-sans);
	--font-sans: "Inter Variable", sans-serif;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

:root {
	--background: oklch(0.965 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.32 0 0);
	--primary-foreground: oklch(0.95 0 0);
	--secondary: oklch(0.35 0.01 223);
	--secondary-foreground: oklch(0.95 0 0);
	/* --secondary: oklch(0.96 0 223);
	--secondary-foreground: oklch(0.205 0 0); */
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.94 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.87 0 0);
	--chart-2: oklch(0.556 0 0);
	--chart-3: oklch(0.439 0 0);
	--chart-4: oklch(0.371 0 0);
	--chart-5: oklch(0.269 0 0);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--calm-100: oklch(0.96 0.03 223);
	--calm-200: oklch(0.91 0.06 223);
	--calm-300: oklch(0.84 0.12 223);
	--calm-400: oklch(0.77 0.17 223);
	--calm-500: oklch(0.69 0.17 223);
	--calm-600: oklch(0.6 0.15 223);
	--calm-700: oklch(0.51 0.13 223);
	--calm-800: oklch(0.4 0.1 223);
	--calm-900: oklch(0.29 0.07 223);

	--input-shadow: rgb(0 0 0 / 0.12);
}

.dark {
	--background: oklch(0.178 0 223);
	--foreground: oklch(0.95 0 223);
	--card: oklch(0.21 0 223);
	--card-foreground: oklch(0.96 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.32 0 223);
	--primary-foreground: oklch(0.98 0 0);
	--secondary: oklch(0.35 0.01 223);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.87 0 0);
	--chart-2: oklch(0.556 0 0);
	--chart-3: oklch(0.439 0 0);
	--chart-4: oklch(0.371 0 0);
	--chart-5: oklch(0.269 0 0);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);

	--input-shadow: rgb(0 0 0 / 0.6);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}

	html {
		@apply font-sans;
	}

	input {
		text-align: unset;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus {
		/* biome-ignore lint: override */
		-webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
		-webkit-text-fill-color: var(--foreground);
		/* transition: background-color 5000s ease-in-out 0s; */
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}

	[type="number"]::-webkit-outer-spin-button,
	[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}

@layer components {
	.content_container {
		@apply m-auto max-w-200 px-4;
	}

	.header__section {
		@apply text-center mb-10;
	}

	.header__title {
		@apply mt-8 mb-4;
	}

	.header__item {
		@apply my-4;
	}

	.panel__section {
		@apply w-1/1 flex flex-col gap-6 border border-primary rounded-2xl mt-6 p-8 bg-card text-card-foreground shadow-lg shadow-black/15 dark:shadow-black/30;
	}
	.panel__section--active {
		@apply border-2 light:border-chart-2 dark:border-chart-3;
	}

	.panel__title {
		@apply flex items-center gap-3 text-xl font-bold;
	}

	.panel__index {
		@apply text-xl rounded-lg bg-accent px-4 py-2;
	}

	.panel__item {
		/* @apply ; */
	}


}



@layer utilities {
	.userpage__header {
		@apply text-3xl font-bold mt-10;
	}

	.recipe__list {
		/* @apply max-w-210! m-auto; */
	}

	.recipe__title {
		@apply font-bold text-4xl;
	}

	.recipe__author {
		@apply font-light text-lg;
	}

	.recipe__tags {
		@apply flex flex-wrap justify-center gap-2 max-w-150 mx-auto;
	}

	.tag {
		@apply overflow-visible p-3 text-sm border-secondary/50 light:bg-primary/10 dark:bg-primary/40 text-card-foreground/85;
	}

	.recipe__duration {
		@apply flex flex-wrap items-stretch gap-6 justify-center mt-6;
	}

	.recipe__duration_title {
		@apply font-light text-sm mb-0;
	}

	.recipe__duration_entry {
		@apply flex gap-1 justify-center font-bold text-lg;
	}

	.recipe__serves {
		@apply flex justify-center gap-1;
	}

	.recipe__intro {
		@apply whitespace-pre-wrap;
	}

	.ingredient_groups {
		@apply columns-xs gap-8;
	}

	.ingredient_group {
		@apply mb-6;
	}

	.ingredient_group__name {
		@apply border-b grow pb-1 mb-2 font-bold;
	}

	.ingredient {
		@apply grow py-2 max-w-full text-base break-inside-avoid;
	}

	.ingredient__amount {
		@apply text-lg font-medium;
	}

	.ingredient__preparation {
		@apply grow font-light italic text-[16px] -my-1;
	}

	.ingredients {
		@apply grow basis-80;
	}

	.instructions {
		@apply grow-2 basis-120 mb-2;
	}

	.step__intro {
		@apply whitespace-pre-wrap;
	}

	.instruction {
		@apply grow flex items-start gap-2 text-left py-1;
	}


	.input {
		@apply bg-transparent border-none outline-none p-0 m-0 text-inherit! aria-invalid:ring-3 aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/50 max-w-none;
	}

	.input__error {
		@apply absolute top-full left-0 right-0 m-auto mt-3 text-sm text-destructive bg-popover border border-destructive rounded-lg px-3 py-2 z-100 ring-2 ring-destructive w-fit;
	}

	.textarea {
		@apply block bg-transparent border-none outline-none py-0 pr-0.5 m-0 text-inherit! field-sizing-content resize-none;
	}
}